apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:
  env: dev
resources:
- ../base
namePrefix: dev-
replicas:
- name: nginx-deployment
  count: 2
images:
- name: nginx
  newTag: 1.14.2
  newName: nginx
